<main class="todo-page">
  <div class="list-head">
    <span class="count">{{ todos().length }} Todos(s)</span>
    <button>Ein TODO hinzufügen</button>
  </div>

  <div class="todo-list-wrapper">
    <h2>Zu erledigen:</h2>
    <app-todo-list
      [todos]="notDoneTodos()"
      (deleteClicked)="deleteClicked($event)"
      (doneClicked)="doneClicked($event)"
      showMarkDoneButton
    />

    <h2>Erledigt:</h2>
    <app-todo-list
      [todos]="doneTodos()"
      (deleteClicked)="deleteClicked($event)"
      (doneClicked)="doneClicked($event)"
    />
  </div>
</main>
