@if (todos().length > 0) {
<ul class="todo-list">
  @for (todo of todos(); track todo.id) {
  <li class="todo-list-item">
    <div class="item-head">
      <h3 class="todo-title">{{ todo.title }}</h3>

      <div class="meta-area">
        <span class="todo-due-date">
          Fällig: {{ todo.dueDate | todoDueDate }}
        </span>

        @if (showMarkDoneButton()) {
        <button (click)="doneClicked.emit(todo)">Erledigt</button>
        }

        <button (click)="deleteClicked.emit(todo)">Löschen</button>
      </div>
    </div>

    <div class="todo-description">{{ todo.description }}</div>
  </li>
  }
</ul>
} @else {
<div className="empty-list">Keine TODOs vorhanden.</div>
}
